* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'David Libre';
    margin: 0px;
    padding: 0px;
    background-color: rgb(41, 39, 39);
}

.bg-clr {
    background-color: rgb(41, 39, 39);
}

.heading h2 {
    /*width:500px;*/
    font-size: 3.5rem;
    color: whitesmoke;
    margin: 0px 0px 10px 0px;
    line-height: 60px;
    /*color: whitesmoke;*/
    text-align: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

#main {
    width: 100%;
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.02);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: rgb(41, 39, 39);
    gap: 1em;
    padding: 1em;
}

nav ul {
    display: flex;
}

nav ul li a {
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8rem;
    /* text-transform: uppercase; */
    font-weight: 500;
    color: #fff;
    background: #555;
    border-radius: 5px;
    /* letter-spacing: 1px; */
}

nav ul li a:hover {
    background: white;
    color: black;
    box-shadow: 0 0 10px white;
}

.image-single {
    object-fit: contain;
    width: 500px;
    height: 500px;
    border: 5px solid whitesmoke;
    background: url(../Assets//img/single.jpg);
}


.image-double {

    object-fit: contain;
    width: 500px;
    height: 500px;
    border: 5px solid whitesmoke;
}

/*.image{
	width:500px;
	height: 500px;
}
*/

.content {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main-text {
    width: 500px;
}

.main-text h1 {
    font-size: 3.5rem;
    color: whitesmoke;
    margin: 0px 0px 10px 0px;
    line-height: 60px;
}

.main-text h3 {
    color: whitesmoke;
    margin: 0px 0px 10px 0px;
    /*line-height: 60px;*/
}

.main-text p {
    color: #747474;
}

.container {
    background: black;
}